/**************************************************
 * Gravel (Default Theme)                         *
 *   Made by oliveryas01                          *
 *                                                *
 * Permitted declarations:                        *
 * - color                                        *
 * - background-color                             *
 * - border                                       *
 * - border-color                                 *
 * - border-style                                 *
 * - border-width                                 *
 * - border-top                                   *
 * - border-top-color                             *
 * - border-top-style                             *
 * - border-top-width                             *
 * - border-bottom                                *
 * - border-bottom-color                          *
 * - border-bottom-style                          *
 * - border-bottom-width                          *
 * - border-left                                  *
 * - border-left-color                            *
 * - border-left-style                            *
 * - border-left-width                            *
 * - border-right                                 *
 * - border-right-color                           *
 * - border-right-style                           *
 * - border-right-width                           *
 * - padding                                      *
 * - padding-top                                  *
 * - padding-bottom                               *
 * - padding-left                                 *
 * - padding-right                                *
 * - visibility                                   *
 * - vertical-align                               *
 * - letter-spacing                               *
 * - line-height                                  *
 * - tab-size                                     *
 * - text-align                                   *
 * - text-decoration                              *
 * - text-decoration-color                        *
 * - text-decoration-style                        *
 * - text-shadow                                  *
 * - direction                                    *
 * - resize                                       *
 **************************************************/

.component {
    visibility: visible;

    color: black;
    background-color: transparent;

    border: none;

    padding: 0;

    resize: both;
}

.label {
    visibility: visible;

    color: inherit;
    background-color: transparent;

    border: none;

    padding: 0;

    letter-spacing: inherit;
    line-height: inherit;
    tab-size: inherit;

    text-decoration: inherit;
    text-shadow: inherit;
}

.button {
    visibility: visible;

    color: inherit;
    background-color: darkgray;

    border: 1px solid dimgray;

    padding: 5px;

    letter-spacing: normal;
    line-height: normal;
    tab-size: 4;

    text-align: center;
    vertical-align: middle;

    text-decoration: none;
    text-shadow: none;

    resize: both;
}
.button:hover {
    background-color: lightgray;
}
.button:active {
    background-color: gray;
}