/**************************************************
 * Gravel (Default Theme)                         *
 *   Made by oliveryas01                          *
 *                                                *
 * Permitted declarations:                        *
 * - color                                        *
 * - background-color                             *
 * - border                                       *
 * - border-color                                 *
 * - border-style                                 *
 * - border-width                                 *
 * - border-top                                   *
 * - border-top-color                             *
 * - border-top-style                             *
 * - border-top-width                             *
 * - border-bottom                                *
 * - border-bottom-color                          *
 * - border-bottom-style                          *
 * - border-bottom-width                          *
 * - border-left                                  *
 * - border-left-color                            *
 * - border-left-style                            *
 * - border-left-width                            *
 * - border-right                                 *
 * - border-right-color                           *
 * - border-right-style                           *
 * - border-right-width                           *
 * - padding                                      *
 * - padding-top                                  *
 * - padding-bottom                               *
 * - padding-left                                 *
 * - padding-right                                *
 * - visibility                                   *
 * - vertical-align                               *
 * - letter-spacing                               *
 * - line-height                                  *
 * - tab-size                                     *
 * - text-align                                   *
 * - text-decoration                              *
 * - text-decoration-color                        *
 * - text-decoration-style                        *
 * - text-shadow                                  *
 * - direction                                    *
 * - resize                                       *
 **************************************************/

#region {
    background-color: transparent;

    border: none;
}

#pane {
}

#label {
    color: rgb(0, 0, 0);
}